.page-title {
    margin: 0;
    text-align: center;
}

.page-title__top {
    font-family: 'Besom';
    font-size: 102px;
    color: @title;
}

.page-title__bottom {
    display: block;
    margin-bottom: 35px;
    padding-top: 20px;
    font-weight: 900;
    font-size: 38px;
}

@media (min-width: @tablet) {
    .page-title__top {
        font-weight: normal;
        font-size: 107px;
    }

    .page-title__bottom {
        font-size: 40px;
    }
}