.schedule {
    display: flex;
    align-items: center;
}

.schedule__image {
    width: 201px;
    height: 40px;
}

.schedule__amount {
    width: 80px;
    margin: 0;
    margin-left: 13px;
    font-weight: 300;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

@media (min-width: @tablet) {
    .schedule {
        width: 315px;
        margin: 0 auto;
    }
}

@media (min-width: @desktop) {
    .schedule {
        margin: 0;
    }
}